@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");

:root {
  --gap: 10px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6;

  position: relative;
  min-height: 100%;
  min-width: 100%;
  background-color: #f6f8f8;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

.header-page {
  position: fixed;
  z-index: 10;
  background-color: white;
  display: flex;
  width: 100%;
  align-items: center;
  animation: ease-in 3s;
}

a {
  font-family: "Roboto Mono", "sans-serif";
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #005d68;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

.nav-bar a:hover {
  color: #0088a9;
}

h1 {
  text-align: center;
}

.header-text {
  text-align: center;
}

.main {
  height: 800px;
}

.profile-pic {
  width: 10em;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  top: 80px;
}

.about {
  height: 800px;
  background-color: #ffffff;
  width: 100%;
}

.projects {
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  column-gap: 40px;
}

.projects-landscape {
  background-color: black;

  border-radius: 30px;
  height: 400px;
  width: 300px;
}

.contact-me {
  height: 800px;
}

.footer-profile {
  background-color: #ff5c3e;
  height: 9rem;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
  border-top: 2px solid #fff;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #5cd89f;
}

.fab fa-twitter {
  height: 10px;
}

/* ~~~~~~~~~~~~~~~~~~ MOBILE FRIENDLY SITES ~~~~~~~~~~~~~~ */
@media screen and (max-width: 980px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .main {
    background-position: top left, center center;
    background-size: auto, cover;
    left: auto;
    top: auto;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 6em 4em;
  }

  .profile-pic {
    top: 400px;
    right: 110px;
  }
}
